body {
    margin: 0px;
    padding: 0px;
    font-family: Arial,
        sans-serif;
}

header {
    background: #e85d04;
    color: white;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;   
}

#hero {
    

}